.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #303030;
  border-bottom: 4px solid cyan;
  min-width: 100%;
}

.navbar > a {
  height: 75%;
  font-size: 300%;
}

.navbar > input {
  border: 1px solid cyan;
  margin-right: 5%;
  border-radius: 100px;
  height: 50px;
  width: 200px;
  font-size: 15px;
}

