.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #303030;
  border-bottom: 4px solid cyan;
  min-width: 100%;
}

.return-home {
  font-size: 2rem;
  color: #FFF;
  border: none;
  background: none;
  cursor: pointer;
  padding-right: 1rem;
}

header > a {
  height: 75%;
  font-size: 300%;
}

