.single-movie-container {
  height: 80%;
}

.banner-photo {
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  max-height: 700px;
  overflow: inherit;
  opacity: 40%;
  z-index: -1;
  box-shadow: 0px 10px 10px black;
}

.icon-container {
  min-height: 50px;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.return-home-button {
  font-size: 2rem;
  background-color: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 2px;
  vertical-align: middle;
  margin-left: 96%;
  margin-top: 6px;
  box-shadow: 5px 5px 10px black;
  opacity: .7;
}

.return-home-button:hover {
  color: cyan;
  opacity: .9;
}

.movie-poster {
  top: 80px;
  width: 20rem;
  /* height: 450px; */
  border: solid 2px cyan;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px black;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
  height: 20rem;
  width: 30rem;
  background: rgba(0, 0, 0, .6);
  box-shadow: 5px 5px 5px #000;
  border: 2px solid cyan;
  border-radius: 20px;
  padding: .5rem;
}

.movie-title {
  font-size: 3rem;
  text-shadow: 0px 0px 8px cyan;
  margin-bottom: .2rem;
}

.release, .rating {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 0;
  padding-bottom: 0;
  text-shadow: 0px 0px 8px black;
}

.movie-release, .movie-rating {
  font-size: 1.5rem;
  text-shadow: 0px 0px 8px black;
  margin-top: .2rem;
  font-weight: bold;
}


.details-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: rgba(0, 0, 0, .6);
  box-shadow: 5px 5px 5px #000;
  border: 2px solid cyan;
  border-radius: 20px;
  min-height: 18rem;
  width: 20rem;
  padding: 1rem;
}

.movie-overview {
  text-align: center;
  font-size: .9rem;
}

.overview, .genres, .budget, .revenue, .runtime {
  margin-bottom: .3rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.movie-overview,
.movie-genres,
.movie-budget,
.movie-revenue,
.movie-runtime {
  margin-top: 0;
  font-weight: bold;
}
