.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #303030;
  border-bottom: 4px solid cyan;
  min-width: 100%;
}

a {
  text-decoration: none;
  height: 75%;
  font-size: 300%;
}

a:visited {
  color: #fff;
}