.movie-card {
  font-size: 100%;
  display: block;
  margin-top: 20px;
  width: 15%;
  border-radius: 0px;
  background: #484848;
  box-shadow: 5px 5px 11px #3c3c3c,
  -5px -5px 11px #545454;
  cursor: pointer;
  text-align: center;
}

.movie-card > img {
  width: 100%;
}