
.movie-card {
  height: 400px;
  border-radius: 0px;
  background: #484848;
  box-shadow: 5px 5px 11px #3c3c3c,
  -5px -5px 11px #545454;
  cursor: pointer;
  text-align: center;
  width: 15%;
  margin-top: 20px;
}

.movie-card > h3 {
  font-size: 20px;
  margin: 4px;
  margin-bottom: 8px;
}

.movie-card > img {
  height: 85%;
  width: 100%;
}